.viewContainer {
    height: 100%;
    width: 100%;
}
.scrollView {
    position: relative;
    display: block;
    overflow-y: auto;
    scrollbar-gutter: stable both-edges;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;

}
.scrollView::-webkit-scrollbar {
    width: 15px;
}
.scrollView::-webkit-scrollbar-thumb {
    background-color: #1A1423;
    border-radius: 5px;
}
.fillerItem {
    height: 15%;
}
.taskItem {
    position: relative;
    background-color: #1A1423;
    width: 100%;
    height: auto;
    padding: 2%;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 30px;
}
.editButton {
    width: 100%;
    grid-column: 1;
    text-align: left;
    padding: 3%;
    height: auto;
    border-radius: 20px;
    background-color: #3c285a;
    overflow-wrap: break-word;
}
.editButton .imageButton {
    opacity: 0;
}
@keyframes buttonHighlight {
    to {box-shadow: 0px 0px 30px #b3abac7b;
        background-position: 90% 50%;
    }
}
@keyframes shake {
    0% {transform: rotate(20deg);}
    50% {transform: rotate(-20deg);}
    100% {transform: rotate(20deg);}
}
@keyframes clickImageButton {
    0% {scale: 0.3;}
    100% {scale: 1.5;
        opacity: 0;
    }
}
.editButton:hover {
    background-size: 400% 400%;
    background-image: linear-gradient(45deg,#1A1423, #3c285a);
    animation: buttonHighlight 300ms forwards;
}
.editButton:hover .imageButton {
    opacity: 0.6;
}
.editButton:hover .imageButton:hover {
    opacity: 1;
}
.imageButton {
    opacity: 0.5;
    border-width: 0px;
    position: absolute;
    background-color: transparent;
}
.imageButton:hover {
    opacity: 1;
    animation: shake 0.8s infinite;
}
.imageButton:active {
    animation: clickImageButton 200ms forwards;
}
#addTaskButton {
    background-color: #6d5da9;
    opacity: 1;
    position: fixed;
    aspect-ratio: 1/1;
    min-width: 80px;
    min-height: 80px;
    width: 5%;
    bottom: 2%;
    left: 50%;
    translate: -50% 0%;
    border-radius: 50%;
}

#addTaskButton:hover {
    animation: buttonHighlight 0.8s forwards;
}
#addTaskButton:active {
    animation: clickAnimation 0.08s forwards;
}

#checkmark {
    scale: 0.7;
    right: 0px;
    bottom: 1%;
}
#edit {
    scale: 0.7;
    left: 0px;
    bottom: 5%;
}
#delete {
    scale: 0.7;
    top: -4%;
    right: 0
}
@keyframes clickAnimation {
    100% {
        background-position: 0% 0%;
        scale: 0.8;
    }
}

.title {
    width: 100%;
    color: #DAD0D1;
    font-size: 2.2em;
    font-weight: 700;
}
.description {
    width: 100%;
    color: #DAD0D1;
    font-size: 1.6em;
    margin-left: 5%;
    font-weight: 2;
}
@keyframes flyIn {
    0% {top: 150%;}
    100% {top: 50%;}
}
.addTaskPopup {
    padding: 3%;
    border-radius: 10%;
    outline-color: #1A1423;
    outline-width: 20px;
    outline-style: solid;
    animation: flyIn 1s forwards;
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    height: 80%;
    width: 50%;
    background-color: #3c285a;
}

.textInput {
    outline: 0;
    position: relative;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    resize: none;
    color: #DAD0D1;
    font-size: 30px;
    width: 90%;
    height: 90%;
    background-color: transparent;
    border-width: 0;
}
.textInput::-webkit-scrollbar {
        width: 15px;
}
.textInput::-webkit-scrollbar-thumb {
        background-color: #3c285a;
        border-radius: 5px;
}
.textInputContainer {
    background-color: #1A1423;
    border-radius: 30px;
}
#titleInput {
    color: #DAD0D1;
    font-size: 40px;
}
#submitTaskButton {
    position: fixed;
    bottom:0;
    right: 0;
}
#cancelAddingTaskButton {
    position: fixed;
    top: -2%;
    right: 0;
}